@use '../utils/variables' as *;
@use '../blocks/card';
@use '../blocks/stars';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
