@use '../utils/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid $color-border;
  border-radius: 5px;
  color: $color-font-major;

  &__image {
  width: 160px;
  height: 134px;
  display: block;
  }

  &__image-wrapper {
  margin-top: 32px;
  padding: 0 19px;
  }

  &__content {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  }

  &__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 40px;
  }

  &__code {
  font-size: 10px;
  font-weight: 400;
  color: $color-font-minor;
  margin-top: 4px;
  }

  &__wrapper-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  }

  &__stars {
  display: flex;
  gap: 4px;
  }

  &__star {
  background-image: url('../images/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  }

  @for $i from 1 through 5 {
    &__stars--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url('../images/star-active.svg');
    }
  }

  &__reviews {
  font-size: 10px;
  font-weight: 400;
  }

&__wrapper-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  }

&__price {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $color-font-minor;
  }

&__amount {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  }

&__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: $color-button;
  border-radius: 5px;
  color: $color-reversed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 16px;
  text-transform: uppercase;
  }

&__button:hover {
  background-color: $color-reversed;
  color: $color-button;
  border: 1px solid $color-border;
  }
}
